body{
    background-color: rgb(226, 226, 226);
}


.login-container {
    position: relative;
    top: 80px;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.login-container h1 {
    color: #007BFF;
    margin-bottom: 20px;
}

.login-form {
    max-width: 300px;
    margin: 0 auto;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.incorrect{
    color: red;
}

.login-form button {
    width: 100%;
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register {
    position: relative;
    top: 80px;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
h1 {
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
}
label, input {
    margin-bottom: 10px;
}
input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}