{% extends "base.html" %}

{% block content %}

<div class="container" id="container_category">
    <h2>Mi historial de reparaciones</h2>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="table-responsive">
                <table id="records" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Cliente</th>
                            <th>Auto</th>
                            <th>Observaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for r in records %}
                        <tr>
                            <td>{{r.appointment.date}}</td>
                            <td>{{r.appointment.car.user.first_name}} {{r.appointment.car.user.last_name}}</td>
                            <td>{{r.appointment.car.plate}}</td>
                            <td>{{r.observation}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}