<!-- Modal -->
<div class="modal fade" id="cancel{{ q.id }}" tabindex="-1" aria-labelledby="cancel{{ q.id }}Label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="cancelLabel">Eliminar Auto</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'cancel_quote' %}" method="post">
          {% csrf_token %}
          <div class="modal-body">
            {% if q %}
            <input type="hidden" name="quote_id" value="{{ q.id }}">
            {% endif %}
            <p>¿Estas seguro de cancelar la cita del dia {{q.date}}?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-danger">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>