<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/authentication.css' %}">
    <title>Inicio de Sesión</title>

</head>
<body>
    <div class="login-container">
        <h1>Iniciar Sesión</h1>
        <form class="login-form" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Nombre de usuario" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <span class="incorrect">{{error}}</span>
            <button type="submit">Iniciar Sesión</button>
            <a style="text-decoration: none; color: #007BFF;" href="{% url 'register' %}">¿No tienes un usuario?</a>
        </form>
    </div>
    {% include "../partials/scripts.html" %}
</body>
</html>